<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALKyealkyyCoBLmIsfu41ScxBSx_lItUo</string>
	<key>GCM_SENDER_ID</key>
	<string>228270102805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketSellingApp</string>
	<key>PROJECT_ID</key>
	<string>ticket-77aba</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-77aba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228270102805:ios:95e3ede2a8487cd2ac711c</string>
</dict>
</plist>